# macOS
.DS_Store

# R / RStudio user/session files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Multimer analysis generated outputs
multimer_cd8_bayes_model/data/processed/*.rds
multimer_cd8_bayes_model/results/*.csv
multimer_cd8_bayes_model/results/*.rds

# CmdStan compiled executable
multimer_cd8_bayes_model/code/Stan/m3_binom_pair_samplere
