# macOS
.DS_Store

# R / RStudio user/session files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Stan compiled model file (machine specific)
# Note: do track .stan file itself
multimer_cd8_bayes_model/code/Stan/* 
!multimer_cd8_bayes_model/code/Stan/*.stan

# Stan fit results (big)
multimer_cd8_bayes_model/results/*.csv
multimer_cd8_bayes_model/results/*.rds
